
# New GoBrik php server

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|webp|gif|js|swf|svg)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=536000, public"
</FilesMatch>


Redirect /index /index.php
Redirect /index.html /index.php


Redirect /market /market.php
Redirect /marketplace/ /market.php
