
# New GoBrik php server

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|webp|gif|js|swf|svg)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=536000, public"
</FilesMatch>


Redirect /index /index.php
Redirect /index.html /index.php


Redirect /market /market.php
Redirect /marketplace/ /market.php

Redirect /shop /regen-store.php
Redirect /shop/ /regen-store.php
Redirect /store /regen-store.php
Redirect /store/ /regen-store.php
Redirect /regen-store /regen-store.php

Redirect /courses /courses.php
Redirect /courses/ /courses.php
Redirect /course /courses.php
Redirect /course/ /courses.php

Redirect /kursus /kursus.php
Redirect /kursus/ /kursus.php

Redirect /disclosure /disclosure.php

Redirect /earthwands /earthwands.php

Redirect /offset /offset.php
Redirect /offset/ /offset.php

Redirect /catalyst /catalyst.php
Redirect /catalyst/ /catalyst.php
Redirect /catalyze /catalyst.php
Redirect /catalyze/ /catalyst.php
Redirect /my-catalyst /catalyst.php
Redirect /my-catalyst/ /catalyst.php