/*DARK COLOR SCHEME*/

/* dark.css: 👉 light-on-dark */

:root {

    --side-overlays: #1e233fff;
    --text-color: #c0c5e1ff;
    --top-header: #212544ff;
    --gallery:  rgb(51, 52, 63);
 }

 
 .gobrik-logo {
    background: url(../svgs/gobrik-logo-dark.svg?v1.2) center no-repeat;
    background-size: contain;
}


.top-settings-button {
    background: url(../svgs/settings-icon-dark.svg) no-repeat;
    background-size: contain;
}

#top-settings-button:hover {
    background: url(../svgs/settings-icon-over-dark.svg) no-repeat;
    background-size: contain;
}


.main-menu-button {
    background: url(../svgs/grey-emblem-button3-dark.svg?v=2) no-repeat;
    background-size: contain;
}

.main-menu-button:hover  {
    background: url(../svgs/grey-emblem-button-over-dark.svg) no-repeat;
    background-size: contain;
}

.top-menu-login-button {
    color: #a0c0d2fe;
    border-color: #a0c0d2fe;
}

.gallery-background {
    background-color: grey;
}


  .virtue img {
    filter: invert(100%);
  }

