/*DARK COLOR SCHEME*/

/* dark.css: 👉 light-on-dark */

:root {

    --side-overlays: #1e233fff;
    --text-color: #c0c5e1ff;
    --top-header: #212544ff;


    
  --drop-cap: rgb(200, 200, 200); /*drop cap, bookbox text*/
  --background-color: #222326 ;
  --link-color:  rgb(250, 250, 250);
  --pre-link-color:  #d5d5d5 ;
  --drop-cap: rgb(200, 200, 200);
  --nav-bar-accent: rgb(43, 43, 48); /*navbar, footer, button color*/
  --deeper-accent-color: #17181B ; /*main chart hover, top menu button backgrounds*/
  --thin-border-color: rgb(89, 89, 89); /*border color for almost everything*/
  --fainter-border-color: #232326; /* rgb(72, 72, 80);border color for the menu buttons*/
  --element-shadow: 0 4px 15px rgba(3, 3, 3, 0.173); /*whenever a shadow is added*/
  --header-footer: #27272c;
  --slider: #18181a;
  --strong-border: rgb(55, 56, 62);
 }

 
 .gobrik-logo {
    background: url('../svgs/gobrik-logo-dark.svg?v1.1') center no-repeat;
    background-size: contain;
}


  .virtue img {
    filter: invert(100%);
  }
