/*DARK COLOR SCHEME*/

/* dark.css: 👉 light-on-dark */

:root {

    --side-overlays: rgb(31, 33, 48);
    --text-color: #c0c5e1ff;
    --h1: #fff;
    --top-header: #21232f;
    --gallery:  rgb(51, 52, 63);
    --general-background: rgb(13, 15, 26);
    --login: rgba(27, 32, 45, 0.7);
    --general-background-highlight: rgb(33, 33, 39);
    --deeper-accent:  rgb(14, 14, 16);
    --header-accent: #a0c0d2fe;
    --button-1-1: #2d2d85;
    --button-1-1-over: #26266b;
    --button-1-2: #2929b5;
    --button-1-2-over: #262686;
    --button-2-1:#016191;
    --button-2-1-over:#013a60;
    --button-2-2:#236d96;
    --button-2-2-over:#143952;
    --shadow: #8484846b;
    --night: #13162b;

    --footer-background: #111735ff;
    --footer-text: #7ea9c2;
    --footer-header: #a8aab8;
    --splash: #103e5dff;
    --splash-over: #103e5dff;
    --notification: #6e94bf;
    --fuscia-button: #80418087;

    --facebook: #1d2e53;

 }

 
 .gobrik-logo {
    background: url(../svgs/gobrik-logo-dark.svg?v1.2) center no-repeat;
    background-size: contain;
}


.top-settings-button {
    background: url(../svgs/settings-icon-dark.svg) no-repeat;
    background-size: contain;
}

#top-settings-button:hover {
    background: url(../svgs/settings-icon-over-dark.svg?v=3) no-repeat;
    background-size: contain;
}

.top-close-button {
  background: url(../svgs/down-arrow-night.svg) no-repeat;
  background-size: contain;
}

.top-close-button:hover {
  background: url(../svgs/up-arrow-night.svg) no-repeat;
  background-size: contain;
}


.main-menu-button {
    background: url(../svgs/grey-emblem-button3-dark.svg?v=2) no-repeat;
    background-size: contain;
}

.main-menu-button:hover  {
    background: url(../svgs/emblem-dark-over.svg) no-repeat;
    background-size: contain;
}



@media screen and (min-width: 701px) {
    .clouds-new2  {
      background-image: linear-gradient(var(--night),var(--general-background),var(--general-background));
    /*  background: url(../svgs/top-clouds-desktop-animate-to-static2.svg) center top repeat-x ;
              box-sizing: border-box;
          background-size: 100%;*/
      }
  }
  @media screen and (min-width: 0px) and (max-width: 700px) {
    .clouds-new2  {
        background-image: linear-gradient(var(--top-header),var(--general-background),var(--general-background),var(--general-background));
     /* background: url(../svgs/ashim-top-clouds-mobile.svg?v1.3) center top repeat-x;
          box-sizing: border-box;
          background-size: 100%;*/
  }


  }
  

  .tree-coins {
    background: url(../webp/2023-tree-night.webp?v=1.1) no-repeat;
    background-size: contain;
  }

  .bio-top {
    background: url(../svgs/biosphere-top-night.svg) no-repeat center top;
    background-size: cover;
  }

  .vision-landscape {
    background: url(../svgs/ocean-footer-night.svg?v=3) no-repeat center;
    background-size: contain;
  }

  .splash-content-block {
  background: url(../svgs/brik-view-dark.svg?v=3.1) bottom no-repeat;
  background-size: cover;
  background-color: #103e5dff;
  }

  #splash-bar {
    background-color: #103e5dff;
    box-shadow: 0 8px 7px rgba(3, 3, 3, 0.4);
  }


  .kn-info-bar {
    background: black !important;
  }


  .kn-login {
    background: rgba(41, 46, 58, 0.7);
  }

  #forgot-pass {
    color:var(--fuscia-button) !important;
   }

  .remember {
    color:var(--fuscia-button) !important;
 
}

/*
  .virtue img {
    filter: invert(100%);
  }
*/
