/*LIGHT STYLE SHEET*/

/* light.css: 👉 dark-on-light */


   :root {

    --side-overlays: rgb(225, 225, 225);
    --top-header: #fff;
    --text-color: #242424;
   }
   
.gobrik-logo {
    background: url(../svgs/gobrik-logo-static.svg?v1.1) center no-repeat;
    background-size: contain;
}

.top-settings-button {
    background: url(../svgs/settings-icon.svg) no-repeat;
    background-size: contain;
}

.top-settings-button:hover {
    background: url(../svgs/settings-icon-over.svg) no-repeat;
    background-size: contain;
}

.main-menu-button {
    background: url(../svgs/grey-emblem-button3.svg?v=2) no-repeat;
    background-size: contain;
}

.main-menu-button:hover  {
    background: url(../svgs/grey-emblem-button-over.svg) no-repeat;
    background-size: contain;
}

/* light.css


   
/* light.css 
--icon-filter_hover: invert(60%);*/

