/*LIGHT STYLE SHEET*/

/* light.css: 👉 dark-on-light */


   :root {

    --side-overlays: rgb(225, 225, 225);
    --top-header: #fff;
    --text-color: #242424;
    --h1: black;
    --gallery: grey;
    --general-background: rgb(232, 232, 232);
    --general-background-highlight: rgb(196, 195, 195);
    --deeper-accent: rgb(148, 148, 148);
    --header-accent: rgb(93, 93, 93);
    --full-contrast:#fff
   }
   
.gobrik-logo {
    background: url(../svgs/gobrik-logo-static.svg?v1.1) center no-repeat;
    background-size: contain;
}

.top-settings-button {
    background: url(../svgs/settings-icon.svg) no-repeat;
    background-size: contain;
}

.top-settings-button:hover {
    background: url(../svgs/settings-icon-over.svg) no-repeat;
    background-size: contain;
}

.main-menu-button {
    background: url(../svgs/grey-emblem-button3.svg?v=2) no-repeat;
    background-size: contain;
}

.main-menu-button:hover  {
    background: url(../svgs/grey-emblem-button-over.svg) no-repeat;
    background-size: contain;
}


@media screen and (min-width: 701px) {
    .clouds-new2  {
      background-image: linear-gradient(#30ffff, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0));
    /*  background: url(../svgs/top-clouds-desktop-animate-to-static2.svg) center top repeat-x ;
              box-sizing: border-box;
          background-size: 100%;*/
      }
  }
  @media screen and (min-width: 0px) and (max-width: 700px) {
    .clouds-new2  {
      background-image: linear-gradient(#30ffff, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0));
     /* background: url(../svgs/ashim-top-clouds-mobile.svg?v1.3) center top repeat-x;
          box-sizing: border-box;
          background-size: 100%;*/
  }
  }


  .tree-coins {
    background: url(../webp/2023-tree-day.webp) no-repeat;
    background-size: contain;
  }

/* light.css
light.css 
--icon-filter_hover: invert(60%);*/

