  
  /* -------------------------------------------------------------------------- 
  
  
  1. TYPOGRAPHY
 
  
  -------------------------------------------------------------------------- */
  
  
  p {
    font-family: 'Mulish', sans-serif !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    -webkit-font-smoothing: antialiased !important;
      line-height: 1.5em !important;
    color: var(--text-color);
}

b {	font-weight: 500 !important;}

strong {font-weight: 500 !important;}


h1 {
    font-size: 2.5em !important;
    font-family: 'Arvo', serif !important;
      text-align: center !important;
      line-height: 1.2 !important;
    /*text-shadow: 0px 0px 10px #fff !important;
    font-family: 'Mulish', sans-serif !important;*/
     font-weight: 500 !important;
     color: var(--text-color) !important;

     background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
     rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
background-size: 600px 600px;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
animation: slide 10s linear infinite forwards;
}
@keyframes slide {
0%{
background-position-x: 0%;
}
100%{
background-position-x: 600px;
}

}

h2 {
    font-size: 2.1em;
    font-family: 'Mulish', sans-serif !important;
    text-align: center !important;
      line-height: 1.3 !important;
     font-weight: 400 !important;
   /* text-shadow: 0px 0px 10px #fff !important;*/
    color: var(--text-color) !important;
}

h3 {
    font-size: 1.8em !important;
    font-family: 'Arvo', serif !important;
    text-align: center !important;
    line-height: 1.4 !important;
    font-weight: 300;
    color: var(--text-color) !important;
}

h4 {
    font-size: 1.5em !important;
    font-family: 'Mulish', sans-serif !important;
    text-align: center !important;
          line-height: 1.4 !important;
        font-weight: 300 !important;
        color: var(--text-color) !important;
}


h5 {
    font-size: 16px !important;
    font-family: 'Arvo', serif;
    text-align: center !important;
  line-height: 1.3 !important;
  color: var(--text-color);
}

h6 {
    font-size: 1em !important;
    font-family: 'Mulish', sans-serif !important;
   /* text-align: center;*/
  line-height: 1.4 !important;
    font-weight: 300 !important;
     color: var(--text-color) !important;
}

.kn-content ul {
  font-family: 'Mulish', sans-serif !important;
  /* text-align: center;*/
 line-height: 1.4 !important;
   font-weight: 300 !important;
    color: var(--text-color) !important;
}


/* --------------------------------------------------------------------------


2. Document Setup


-------------------------------------------------------------------------- */


html {
  height: 100%;
  }
  
  
  body {
    z-index: 0;
    position: relative;
    position: bottom;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--general-background);
      overflow-x: hidden;
    /*General interface background slightly off-white to make the white buttons and boxes show up better*/
  }


  
  
  
  @media screen and (min-width: 1200px) { 
  
  #landing-content { 
  width: 70%;
  margin: auto;
  margin-bottom: 0px;
      }
    }
    
    
    @media screen and (min-width: 700px) and (max-width: 1200px) { 
  
    #landing-content { 
    width: 80%;
    margin: auto;
    margin-bottom: 0px;
    background: none;
        }
      }
  
  
    @media screen and (max-width: 700px) { 
  #landing-content { 
    background: none;
  max-width: 90%;
  margin: auto;
        }
      }



/*------------------------------------


3. Header


------------------------------------*/



#header {
  transition: 0.4s;
  /*display: flex;
  justify-content: center;*/
  z-index: 25;
position: relative;
background: var(--top-header);
/*box-shadow: 0px 0px 12px var(--shadow);	*/
  width: 100%;
  border-bottom: var(--fuscia-button) 0.5px solid;
}

  @media screen and (min-width: 701px) {
#header {  
  height: 70px;
}
}

@media screen and (max-width: 700px) {
#header {  

  height: 70px;
}
}



#header-knack {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  z-index: 25;
position: absolute;
background: var(--top-header);
/*box-shadow: 0px 0px 12px var(--shadow);	*/
  width: 100%;
  border-bottom: gray 0.5px solid;

}
  @media screen and (min-width: 701px) {
#header-knack {  
  height: 70px;
}
}

@media screen and (max-width: 700px) {
#header-knack {  

  height: 70px;
}
}


.gobrik-logo {
margin: auto;
position: absolute;
width: fit-content;
margin-top: 13px;
width:165px;
height:47px;
border: none;
right: 0;
left: 0;
border: none;
cursor:pointer;
}




.top-menu-login-button {
  font-family:'Mulish';
  background: none;
  border:0.5px;
  border-style:solid;

  border-radius:5px;
  margin: auto;
  margin-top:2px;
  align-content: center;
  font-size: 0.9em;
  padding: 3px 14px 3px 14px;
  margin-right:10px;
  cursor: pointer;
  color: var(--header-accent);
  border-color: var(--header-accent);
  border-width: 0.5px;
}

.top-menu-login-button:hover {
  color: var(--top-header);
  background-color: var(--header-accent);
}

@media screen and (max-width: 700px) {
.top-menu-login-button {
  display:none;
}
}


.top-settings-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
  
}


.top-close-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

/*
.top-close-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

.top-close-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}
*/

.main-menu-button {
  position:absolute;
  left:0;
  margin-top: 22px;
  margin-left:20px;
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

.main-menu-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

/*------------------------------------


4. Landing Page Layout


------------------------------------*/




.gallery-header {
  background-color: var(--gallery);
  height:40px;
  width:100%;
  display:flex;
  justify-content:center;
}

.gallery-live-text {
  font-size:0.75em;
  font-family:'Mulish';
  font-weight:300; 
  color:white;
  height:fit-content;
  padding-top: 10px;
}

.blink {
        animation: blinker 1.5s linear infinite;
        color: #00AA44;
        
    }
    @keyframes blinker {
        50% {
            opacity: 0;
    
        }
    }


.gallery-background {
  text-align: center;
  width: 100%;
  max-width: 100%;
  background-color: var(--gallery);
  margin-top: -10px;
  min-height: fit-content;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  padding-bottom: 14px;
  min-height: 90vh;
}


.gallery-content-block {
  text-align: center;
  /*min-height: 67vh;*/
  z-index: 5;
  position: relative;   
   /*background-color: #DFDFDF;*/
  display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
  flex-direction: row;
  width: 115%;
    margin-right: -10%;
    margin-left: -1%;
  overflow-x: hidden;

}



.flex-container {
display: flex;
flex-wrap: wrap;
}

@media screen and (max-width: 700px) { 

.flex-container > .gal-photo {
  /*background-color: #DFDFDF;*/
  margin: 0px;
  padding: 2px;
  height: 95px;
  overflow: hidden;
/*width: 60px;*/
}

.gal-photo img {
  height: 95px;
  display: block;
  margin: auto;

}
}


@media screen and (min-width: 700px) and (max-width: 1200px) { 

.flex-container > .gal-photo {
  margin: 2px;
  padding: 2px;
  max-height: 130px;
  overflow: hidden;
  text-align: center;
}

.gal-photo img {
  max-height: 130px;
  height: 130px;
}
}

@media screen and (min-width: 1201px)  { 

.flex-container > .gal-photo {
  margin: 2px;
  padding: 2px;
  max-height: 160px;
  overflow: hidden;
  text-align: center;
}

.gal-photo img {
  max-height: 160px;
  height: 160px;
}
}


.bio-top {
width:100%;
height: fit-content;
margin-bottom: -160px;
margin-top:-5px;
z-index: 10;
position: relative;
background-color: var(--gallery);
border:none;
}


.main-landing-graphic {
    
    margin: auto;
      position: relative;
      z-index: 11;
      background: url(../webp/ecobrick-team-day.webp) no-repeat;
      background-size: contain;
      height: fit-content;
  }


  @media screen and (max-width: 700px) { 
    .main-landing-graphic {
      width: 90%;
      margin-top: 80px;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 700px) { 
    .main-landing-graphic {
      width: 60%;
      margin-bottom: 25px;
    }
  }


.big-header {	
 
 font-family: 'Arvo', serif;
 margin-top: 20px;
 text-align: center !important;
 line-height: 1.2 !important;
 margin-bottom: 20px;
 color: var(--h1);

}

@media screen and (min-width: 770px) { 
.big-header {
  font-size: 42px !important;
}
}
 
@media screen and (max-width: 769px) {
.big-header {
 font-size: 36px !important;
}
}
   
 
.main-statement {

 font-family: 'Mulish', sans-serif;
 text-align: center !important;
 line-height: 1.3 !important;
 margin: 20px 0px 13px 0px;
 color:var(--text-color);
 
}
   
@media screen and (min-width: 770px) and (max-width: 2000px) { 
 .main-statement {
  font-size: 2.5em !important;
 }
}
   
@media screen and (max-width: 769px) {
 .main-statement {
   font-size: 1.5em !important;
 }
}

.sign-innn {
font-family: 'mulish', sans-serif !important;
display: block;
margin: auto;
background: var(--button-2-1);
background-image: -webkit-linear-gradient(top, var(--button-2-1), var(--button-2-2));
background-image: -moz-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: -ms-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: -o-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: linear-gradient(to bottom,  var(--button-2-1), var(--button-2-2));
-webkit-border-radius: 8px 0px 0px 8px;
-moz-border-radius: 8px 0px 0px 8px;
border-radius: 8px 0px 0px 8px;
color: #fff;
font-size: 20px;
font-weight: 700;
padding: 10px 20px 10px 20px ;
text-decoration: none;
margin-top: 0px;
margin-bottom: 12px;
border: none;
margin-left: 3px;
}


.sign-innn:hover {
background: var(--button-2-1-over);
background-image: -webkit-linear-gradient(top,  var(--button-2-1-over), var(--button-2-2-over));
background-image: -moz-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
background-image: -ms-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
background-image: -o-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
background-image: linear-gradient(to bottom, var(--button-2-1-over), var(--button-2-2-over));
text-decoration: none;
}



.sign-uppp {
font-family: 'mulish', sans-serif !important;
display: block;
margin: auto;
background: var(--button-1-1);
background-image: -webkit-linear-gradient(top, var(--button-1-1), var(--button-1-2));
background-image: -moz-linear-gradient(top, var(--button-1-1), var(--button-1-2));
background-image: -ms-linear-gradient(top, var(--button-1-1), var(--button-1-2));
background-image: -o-linear-gradient(top, var(--button-1-1), var(--button-1-2));
background-image: linear-gradient(to bottom, var(--button-1-1), var(--button-1-2));
-webkit-border-radius: 0px 8px 8px 0px;
-moz-border-radius: 0px 8px 8px 0px;
border-radius: 0px 8px 8px 0px;
color: #fff;
font-size: 20px;
font-weight: 700;
padding: 10px 20px 10px 20px ;
text-decoration: none;
margin-top: 0px;
margin-bottom: 12px;

border: none;
margin-left: 3px;
}


.sign-uppp:hover {
background: var(--button-1-1-over);
background-image: -webkit-linear-gradient(top, var(--button-1-1-over), var(--button-1-2-over));
background-image: -moz-linear-gradient(top, var(--button-1-1-over), var(--button-1-2-over));
background-image: -ms-linear-gradient(top, var(--button-1-1-over), var(--button-1-2-over));
background-image: -o-linear-gradient(top, var(--button-1-1-over), var(--button-1-2-over));
background-image: linear-gradient(to bottom, var(--button-1-1-over), var(--button-1-2-over));
text-decoration: none;
}


.tree-coins {
      position: relative;
      z-index: 0;
      text-align: center;
      width: 80%;
      height: 100%;
      margin: 0px auto 0px auto;
      
      }


  @media screen and (max-width: 700px) { 
    .tree-coins {
      width: 90%;

    }
  }

  @media screen and (min-width: 700px) { 
    .tree-coins {
      width: 60%;

    }
  }


.welcome-text {	
 
 font-size: 1.6em !important;
 font-family: 'Mulish', sans-serif;
 text-align: center !important;
 margin-bottom: 22px;
 color:var(--text-color);
 
   }

@media screen and (min-width: 770px) and (max-width: 2000px) { 
.welcome-text {
   font-size: 1.8em !important;
}
}
 
@media screen and (max-width: 769px) {
.welcome-text {
 font-size: 1.2em !important;
}
}
  
      
  .tree-text {
    font-size: 16px ;
    font-family: 'Mulish', sans-serif;
    width: 80%;
    text-align: center;
    line-height: 1.4;
    position: relative;
    z-index: 5;
    font-weight: 300;
    margin:auto;
    color:var(--text-color);
  }
      
.aes-logos {
  width: 100%;
height: 60px;
margin: auto;
text-align: center;
margin-top: 26px;
}

#lang-button {position: relative !important;
transition: 0.3s;}




/* -------------------------------------------------------------------------- */

/*	5. KNACK Overlay Curtain

/* -------------------------------------------------------------------------- */



#knack-overlay-curtain {
  z-index: 20;
}


@media screen and (max-width: 700px) { 
  #knack-overlay-curtain { 
    background: var(--login);
  }
}

@media screen and (min-width: 701px) { 
  #knack-overlay-curtain { 
    background: var(--general-background);
  }
}




#knack-overlay-curtain2 {
  z-index: 20;
}

@media screen and (max-width: 700px) { 
  #knack-overlay-curtain2 { 
    background: var(--login);
  }
}

@media screen and (min-width: 701px) { 
  #knack-overlay-curtain2 { 
    background: var(--general-background);
  }
}



/* Table of Contents Menu (background) */
.knack-overlay {

  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  overflow-y: scroll;
  transition: 0.5s;
  display: flex;
/*
  overflow-x: hidden;  Disable horizontal scroll */
}


/* Position the content inside the overlay */
.knack-overlay-content {
  position: initial;
  text-align: center; /* Centered text/links */
   /*margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
  /*display: flex;*/
  justify-content: center;
  /*height:100%;*/
  margin: auto;
  width: 100%;
}

/*
@media screen and (max-width: 700px) {
  .knack-overlay-content {
    width: 88%; 
    flex-flow: column;  
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .knack-overlay-content {
    width: 75%;
    flex-flow: row;
}
}

@media screen and (min-width: 1325px) {
    .knack-overlay-content {
      width: 60%;
      margin: auto;
      flex-flow: row;
      
    }
}

*/



@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }




/*settings-curtain*/



/* -------------------------------------------------------------------------- */

/*	6. User Settings Overlay Curtain 

    Comes in from the left after clicking +- button.

/* -------------------------------------------------------------------------- */

#right-settings-overlay {
  background-color: var(--side-overlays) /*var(--overlays-and-headers:)*/; 
  color:  var(--text-color); /*var(--text-color)*/ ;
  z-index: 26;
}


/* Table of Contents Menu (background) */
.overlay-settings {
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 21; /* Sit on top */
  right: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */
.overlay-content-settings {
  position: initial;
  text-align: center; /* Centered text/links */
   /*margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: "Mulish";
  /*font-size: smaller;*/
  display: flex;
  justify-content: center;
  flex-flow: column;
  height:100%;  
  margin: auto;
}


@media screen and (max-width: 700px) {
  .overlay-content-settings {
    width: 77%;
    font-size: 0.9em;
    /*margin-top: 6%;*/
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .overlay-content-settings {
    width: 65%;
    font-size: 0.9em;
    /*margin-top: 2%;*/
}
}

@media screen and (min-width: 1325px) {
    .overlay-content-settings {
      width: 69%;
      margin: auto;
    }
}

.settings-label {
  font-family: 'Mulish';
  font-size: 1.2em;
  margin: 18px 0px 8px 0px;
}

.language-box {
  display: flex;
  margin: 10px auto 10px auto;
  justify-content: center;
  padding: 5px 30px 5px 30px;
  background: var(--general-background-highlight);
  border-radius: 55px;
  width: fit-content;
}

.language-selector {
  font-family: 'Mulish';
  padding: 10px 20px 10px 20px;
  background: var(--general-background);
  border-radius: 10px;
  margin: 10px;
 /* filter: invert(100);*/
  font-size: 1.1em;
  cursor: pointer;
  color: var(--text-color);
  border-color:var(--header-accent);
  border-width:0.5px;

}

.language-selector:hover {
  background: var(--top-header);
  border-width:1px;
  border-color:var(--gallery);
}

.language-selector a {
  color: var(--text-color);
}



/*Carbon Badge */

#wcb.wcb-d #wcb_a {
  color: #2e2e2e !important;
background: #27ad37 !important;
border-color: #00a112 !important;
}

#wcb #wcb_a,
#wcb #wcb_g {
  border: 0.2em solid #2cb03c !important;
}

#wcb.wcb-d #wcb_2 {
  color: grey !important;
}







/* -------------------------------------------------------------------------- */

/*	7. Text Size Adjust Section

/* -------------------------------------------------------------------------- */


.text-adjust {
margin: 10px auto 12px auto;
width: fit-content;
background: var(--header-footer);
border-radius: 55px;
}

.increase-plugin-ac  {
padding: 10px;
border: grey;
background: white;
color: black;
border-style: solid;
border-radius: 40px 10px 10px 40px;
border-width: 1px;
font-size: 25px;
margin: 20px;
font-family: "Mulish";
display: inline;
text-align: center;
text-decoration: none;
margin: 7px;
cursor: pointer;
    }

    .increase-plugin-ac:hover {
        padding:12px;
        font-size:27px;
    } 

.normal-plugin-ac {
  padding: 10px;
  border: grey;
  background: white;
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 25px;
  margin: 20px;
  font-family: "Mulish";
  display: inline;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  cursor: pointer;
    }

    .normal-plugin-ac:hover {
        padding:12px;
    }

.decrease-plugin-ac {
  padding: 10px;
  border: grey;
  background: white;
  color: black;
  border-style: solid;
  border-radius: 10px 40px 40px 10px;
  border-width: 1px;
  font-size: 25px;
  margin: 20px;
  font-family: "Mulish";
  display: inline;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  cursor: pointer;
    }

    .decrease-plugin-ac {
        padding: 12px;
        font-size: 22px;
    }





/* -------------------------------------------------------------------------- 

9. Left Menu Curtain

  Comes in from the right after clicking share button in header.

-------------------------------------------------------------------------- */



#left-menu-overlay {
  background-color: var(--side-overlays); 
  color: inherit;
  z-index: 26;
}


/* Table of Contents Menu (background) */
.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 21; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */
.menu-overlay-content {
  position: initial;
  text-align: center; /* Centered text/links */
   /*margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: "CooperLT";
  display: flex;
  justify-content: center;
  flex-flow: column;
  height:100%;
  margin: auto;
}


@media screen and (max-width: 700px) {
  .menu-overlay-content {
    width: 85%;
    font-size: 0.9em;
    /*margin-top: 6%;*/
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .menu-overlay-content {
    width: 65%;
    font-size: 0.9em;
    /*margin-top: 2%;*/
}
}

@media screen and (min-width: 1325px) {
    .menu-overlay-content {
      width: 69%;
      margin: auto;
    }
}


/*Right Close Button*/

#right-close-button {
  position: absolute;
  right: 0px;
  transition: 0.3s;
  height: 75px;
  width:75px;
  padding-right: 30px;
  padding-top: 30px;
  right: 0px;
  top: 0px;
}


.x-button {
    background: url('../svgs/right-x.svg') no-repeat;
    padding: 10px;
    background-size: contain;
    width: 75px;
    height: 75px;
    border:none;
}

.x-button:hover {
    background: url('../svgs/x-over.svg') no-repeat;
    padding: 10px;
    background-size: contain;

}

/*Left CLose Button*/

#left-close-button {
  position: absolute;
  left: 0px;
  transition: 0.3s;
  height: 75px;
  width:75px;
  padding-left: 30px;
  padding-top: 30px;
  right: 0px;
  top: 0px;
}

.menu-page-item {
  padding:10px;
  font-family:'Mulish';
  font-size:1.4em;
  color:var(--text-color);
  border-bottom:1px solid var(--subdued-text);
  cursor: pointer;
}


.menu-page-item:hover {
 
  border-bottom:2px solid var(--text-color);
  color: var(--header-accent)
  
}





/*------------------------------------


10. Ecobrick Details Page


------------------------------------*/



.vision-quote {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-weight: 300;
    text-shadow: 0 0 10px var(--shadow);
  }
  @media screen and (max-width: 769px) {
      .vision-quote {
        font-size: 2.4em;
        line-height: 1.2;
        padding: 10px 6% 0px 6%;
        margin-bottom: -18px;
    }
  }
  @media screen and (min-width: 769px) {
      .vision-quote {
        font-size: 4em;
        line-height: 1.3;
        padding: 15px;
        margin-top: -40px;
        margin-bottom: -20px;
    }
  }
  
  /* Sidebar/right column */
  
  .row-details {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 700px) {
  .main-details {
    flex: 60%;
  
    padding: 0px;
    box-sizing: border-box;
  }
  }
  
  @media screen and (max-width: 700px) {
  .main-details {
    flex: 100%;
    box-sizing: border-box;
  }
  }
  
  @media screen and (min-width: 700px) {
      .side-details {
      flex: 40%;
      padding-left: 10px;
      box-sizing: border-box;
      margin-top: 30px;
      background: var(--side-overlays);
      padding: 10px;
      height: fit-content;
          }
      }
  
  @media screen and (max-width: 700px) {
      .side-details {
      flex: 90%;
      margin: 0px 5% 0px 5%;
      box-sizing: border-box;
      background: var(--side-overlays);
      padding: 10px;
      
      
      }
      }
  
  #data-chunk {margin: 16px;}
  
      
  .splash-content-block {


    text-align: left;
    z-index: 5;
    position: relative;
    width: 100%;
    display: flex;
     box-sizing: border-box;
  }



  @media screen and (max-width: 700px) { 
      .splash-content-block {
          min-height: 73vh;
          padding: 50px 5% 25px 5%;
          margin-bottom: 0px;
          flex-direction: column;
      }
  }
  
  @media screen and (min-width: 700px) { 
      .splash-content-block {
          text-align: left;
          min-height: 70vh;
          padding: 0px 7% 0px 7%;
          margin: -3px 0 -20px 0;
            flex-wrap: wrap;
            flex-direction: row;
  }
  }
  
  
  @media screen and (min-width: 700px) { 
  .splash-image {
    z-index: 5;
    position: relative;
    text-align: center;
    flex: 35%;
      padding: 0px;
      box-sizing: border-box;
      margin: auto;
  }
  }
  
  
  @media screen and (min-width: 700px) { 
  .splash-box {
    z-index: 5;
    position: relative;
    flex: 65%;
      padding: 10px 30px 0px 0px;
      box-sizing: border-box;
      text-align: left;
      margin: auto;
  }
  }
  
  
  
  @media screen and (max-width: 700px) { 
  .splash-image {
    z-index: 5;
    position: relative;
    text-align: left;
  
    width: 100%;
      padding: 0px;
      box-sizing: border-box;
      margin: 32px 8% -25px 4%;
  }
  }
  
  
  
  @media screen and (max-width: 700px) { 
  .splash-box {
      position: relative;
      flex: 100%;
      padding: 10px 10px 0px 0px;
      box-sizing: border-box;
      text-align: right;
      margin: auto;
  }
  }
  
  
  
  .splash-heading { 
      /*font-family: 'Mulish', Arial, Helvetica, sans-serif;*/
      font-family: Arvo, serif;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 8px black;
  
  }
  
  @media screen and (max-width: 700px) {
      .splash-heading {
        font-size: 3.0em;
        line-height: 1.1;
        margin: 10px 0;
    }
  }
  
  @media screen and (min-width: 700px) {
      .splash-heading {
        font-size: 4em;
        line-height: 1.3;
        margin: 40px 0 10px;
    }
  }
  
  
  .splash-sub {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: #fff;
    /*text-shadow: 0px 0px 10px #fff;*/
    margin: 15px 0;
    text-shadow: 0 0 7px black;
  }
  
  @media screen and (max-width: 700px) {
      .splash-sub {
          font-size: 1.25em;
          line-height: 1.25;
          font-weight: 400;
    }
  }
  @media screen and (min-width: 700px) {
      .splash-sub {
          font-size: 2.5em;
          line-height: 1.3;
          font-weight: 400;
    }
  }
  
  
  #splash-bar {
      margin-top: -50px;
      width: 100%;
      
      height:100px;	
      
      position: relative;
      z-index: 0;
    
      -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
      margin-bottom: 40px;
  
  }
  
  hr {border: gray;
  border-style: dashed;
  border-width: 1px;
  margin-top: 31px;
  margin-bottom: 31px;}
  
  
  
  #main-content {
    margin: auto;
    box-sizing: border-box;
  }
  @media screen and (max-width: 700px) {
    #main-content {
        width: 100%;
        margin-top: 0px;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1024px) {
    #main-content {
        width: 85%;
    }
  }
  @media screen and (min-width: 1024px) {
    #main-content {
        width: 77%;
    }
  }
  
  
  /* COLUMN DESIGN */
  
  
  .row {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  
  /* Main column */
  
  @media screen and (min-width: 700px) {
  .main {
    flex: 70%;
  
    padding: 15px 40px 15px 0px;
    box-sizing: border-box;
  }
  }
  
  @media screen and (max-width: 700px) {
  .main {
    flex: 100%;
  
    box-sizing: border-box;
  }
  }
  
  

    
  @media screen and (max-width: 700px) {
    .lead-panel-paragraph {
      font-size: 1.7em;
      line-height: 1.3;
      margin: 5px 0% 15px 0%;
  }
}

@media screen and (min-width: 700px) {
    .lead-panel-paragraph {
      font-size: 2.0em;
      line-height: 1.4;
      margin: 17px 0px 23px 0px;
  }
}

  

  /*
  @media screen and (max-width: 700px) {
  
  
    .lead-page-paragraph  {
      font-size: 1.45em;
      line-height: 1.4;
      margin: 35px 6% 25px 6%;
  }
  }*/
  
  @media screen and (max-width: 700px) {
  
    .page-paragraph {
      font-size: 1.15em;
      line-height: 1.4;
      margin: 20px 6% 30px 6%;
  }
  }
  
  @media screen and (max-width: 700px) {
      .page-paragraph-reg {
        font-size: 1em;
        line-height: 1.3;
        margin: 20px 4% 20px 4%;
    }
  }
  
  
  .lead-page-paragraph {
    font-family: 'Arvo', Georgia, serif;
    font-weight: 300px;
    color: var(--text-color);
  }
   

  
  @media screen and (min-width: 700px) {
      .lead-page-paragraph {
        font-size: 2em;
        line-height: 1.5;
        margin: 5px 10px 5px 10px;
    }
  }
  
  
  @media screen and (min-width: 700px) {
      .page-paragraph {
        font-size: 1.15em;
        line-height: 1.4;
        margin: 25px 10px 50px 10px;
    }
  }
  
  @media screen and (min-width: 700px) {
      .page-paragraph-reg {
        font-size: 1em;
        line-height: 1.3;
        margin: 20px 7px 50px 7px;
    }
  }
  
  
  @media screen and (max-width: 700px)  {
          .reg-content-block {
          text-align: left;
          padding: 15px 7% 15px 7%;
          border-radius: 0px;
          margin: 35px 0px 0px 0px;
  /*
          border-color: grey;
          border-width: 1px;
          border-style: dashed;*/
  }
      }
  
  
      @media screen and (min-width: 700px) {
          .reg-content-block {
              text-align: left;
              padding: 18px 5% 22px 5%;
              border-radius: 15px;
              margin: 30px 0px 20px 0px;
              
              border-color: grey;
              border-width: 1px;
              border-style: dashed;
   
  }
      }
  
  
  #data-chunk {
    padding: 15px;
    background: var(--side-overlays);}
  
  
  .ecobrick-data p {
      font-size: 0.9em;
      font-family: 'Courier New', monospace !important;
        color: #222222;
        line-height: 1.3;
      margin-top: 12px;
      font-weight: 300;
    background: var(--notification);
  padding: 10px;
  border-radius: 5px;
  }
  
  
  /* Sidebar/right column */
  
  @media screen and (min-width: 700px) {
      .side {
      flex: 24%;
      padding: 70px 20px 0px 20px;
      box-sizing: border-box;
      margin-top: -80px;
      background:var(--top-header);
    border-radius: 20px;
      }
      }
  
  @media screen and (max-width: 700px) {
      .side {
      flex: 24%;
      padding: 20px;
      box-sizing: border-box;
      
      }
      }
  
  
#side-module-desktop-only {
	
	border-radius: 12px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 15px 15px 28px 15px;
	border-width: 1px;
	text-align: center;
	background-color: var(--side-overlays);
	text-align: center;

}

@media screen and (max-width: 700px) {
  #side-module-desktop-only {   
    display: none;
  }
}

#side-module-desktop-mobile {
	
	border-radius: 12px;
	margin-bottom: 20px;
	padding: 15px 15px 28px 15px;
	border-width: 1px;
	text-align: center;
	background-color: var(--side-overlays);
  	text-align: center;
  
  }
  
  
  .loader { 
      position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin:auto;
        z-index: 5;
        background: url('svgs/bottle-loader.svg') center no-repeat;
          box-sizing: border-box;
       background-size: 38px;
  }
  


.module-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: var(--splash);
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  overflow-x: none;
}

.module-btn:hover {
  background: var(--splash-over);
}




.action-btn-blue {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
font-family: 'Mulish', Arial, Helvetica, sans-serif;
color: #fff;
font-size: 20px;
background: var(--splash);
padding: 11px 17px;
text-decoration: none;
font-weight: 500;
margin-top: 40px;
}

.action-btn:hover {
  background: var(--splash-over);
}




/*NEW CONFIRMED KNACK CODE*/

   /* STILL NEEDED?*/
    
    /* Welcome page formating
    #view_432 { margin-bottom: -20px !important}
    
    #view_433 { margin-bottom: -40px !important}
    
    
    /* Landing page formating  
    
    
    #view_1373 .view-header {margin: 0px;}
    
    #view_1373 .kn-label {  text-align:center !important;}
    
    /* Welcome Login  
   
    
    #view_1389 .view-header {margin: 0px;}
    
    #view_1012 .view-header {margin: 0px;}
    
    #view_1249  .view-header {margin: 0px;}
    


/*CUSTOM LOGINS
In-house Login screens for registration views
This removes the three columns on the log in scenes but keeps it on the course and product layouts
#kn-scene_1821 #kn-scene_1827 #kn-scene_1825 #kn-scene_1818 #kn-scene_1839,
    */

    
    .columns:not(.is-desktop) {display: contents !important;}
     
    .column.is-half {width: 100% !important;}
    
    #kn-scene_1812 .columns:not(.is-desktop) {display: flex !important;}
    
    #kn-scene_1543 .columns:not(.is-desktop) {display: flex !important;}
     
    #kn-scene_1870 .columns:not(.is-desktop) {display: flex !important;}
    
    
    
    .kn-sso-container {
        display: contents !important;
        margin-bottom: 20px !important;
    }
    
    #need-account {
        display: none;}
    
    #view_5829 #view_5835 #view_5827 #view_5833, #need-account {
        display: contents ;
        font-family: 'Mulish', sans-serif !important;
        font-size: 0.9em !important;
        font-weight: 300;
        text-align: center;
    }
    
    .kn-login .kn-button .is-primary {
        margin-bottom: 30px;
    }
    
     #need-account .kn-button.register {
        font-size: 17px;
        padding: 16px;
        font-family: 'Mulish', sans-serif !important;
        font-weight: 400;
        color: var(--general-background) !important;
        border: none; /*var(--general-background);*/
        background-color: var(--fuscia-button) !important;
    }

    #need-account .kn-button:hover {
      background-color: rgb(189, 73, 189) !important;
    }
    
    .register {
        margin-bottom: 16px;
    }
    
    .login_form .control {
        margin-bottom: 16x;
    }

    
    .kn-button.is-google {
        width: 275px !important;
        margin: auto !important;
        display: flex;
        margin: 20px;}
    
    .kn-button.is-facebook  {
        width: 275px !important;
        margin: auto !important;
        display: flex;
        border: none;
        background-color: var(--facebook) !important;
        margin-bottom: 50px !important;
    }
    
    .sso-button {
        display: none;
        margin: 10px;
        text-align: center;
        margin: auto !important;
    }
    
    .sso-google {margin-left: 20%;}
    
    /* In-Scene Sigup Form */
    
    #register_profile_14 {
        margin: auto;
        width: 640px;
        max-width: 97%;
      /*background: rgba(256, 256, 256, 0.7);*/
        position: relative;
        z-index: 1;
        margin-bottom: 5px;
        min-height: 275px;
      
    }
    
    /*GENERAL LOGIN*/

    /*MAIN LOGIN FORMATTING*/

 @media screen and (max-width: 770px) {
    .kn-login-form {
            margin: auto;
            width: 100%;
            /*
            max-width: 94% !important;
            margin-right: 3% !important;
            margin-left: 3% !important;*/
    }
}
 
     @media screen and (min-width: 771px) {
    .kn-login-form {
            margin: auto;
            max-width: 50% !important;
            margin-right: 25% !important;
            margin-left: 25% !important;
       }
    }
 
 
 .kn-login-form {
        margin: auto;
    }
 
 
 /*FORMATTING FOR MAIN HOME PAGE LOGIN*/

 /*
 .kn-login {

    position: relative;
    z-index: 1;
    background: var(--login);
    border-radius: 0px 0px 18px 18px ;
    
    text-align: center;

    margin-top: -45px;
    padding: 60px 5% 60px 5%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--top-header);
   
    }

    #knack-reset-pass {
      position: relative;
      z-index: 1;
      background: var(--login);
      border-radius: 0px 0px 18px 18px ;
      
      text-align: center;
  
      margin-top: -30px;
      padding: 60px 5% 60px 5%;
      border-width: 10px;
      border-style: solid;
      border-color: var(--top-header);
     
    }*/

    .kn-scene {
      position: relative;
      z-index: 1;
      text-align: center;
      margin-top: -25px !important;
      padding-top: 38px !important;
    }

    @media screen and (max-width: 700px) {
      .kn-scene {
        background: none;
        box-shadow: none;
        border: none;}
      }
      

      @media screen and (min-width: 701px) {
        .kn-scene {
          background: var(--login) !important;
          border-radius: 0px 0px 18px 18px ;
          padding: 60px 5% 60px 5%;
          border-width: 0.5px;
          border-style: solid;
          border-color: rgba(128, 128, 128, 0.812);
        }
      }

  .top-graphic { display:none;}
 

  .kn-label {
    color: var(--subdued-text) !important;
    font-family: 'Arvo', serif;
  }


  #kn-mobile-menu {
    background-color: var(--side-overlays) !important;
  }

  
    /*login view - when ready transfer to all logings*/
 /*   #view_1373 {  
 
        background: rgba(256, 256, 256, 0.7);
        position: relative;
        z-index: 1;
        padding-top: 18px;
        box-shadow: 0px 0px 10px grey;
        border-radius: 0px 0px 10px 10px ;
        margin-top: -32px;
        padding-bottom: 270px;
        text-align: center;
        min-width: 100%;
 }



 @media screen and (max-width: 900px) {
.kn-login {
  background: none;
  box-shadow: none;}
}

*/


/* -------------------------------------------------------------------------- */

/*	7. FORMS
/* -------------------------------------------------------------------------- */


/*top space for pop up menu title*/
h1.modal-card-title {height: 35px !important;
  padding-left: 5px !important;}
  
  /*underline terms of agreement links*/
  .control .kn-instructions a {text-decoration: underline;}
  
  /*enlarge checkboxes on a all forms*/
  
  input[type='checkbox'] {
  
      width:15px;
      height:15px;
      border-radius:5px;
      border:2px solid #555;
  }
  
  .search-field input, .chzn-container-single .chzn-single, .input, .kn-textarea {
     border: 1px solid var(--button-2-1) !important;}
  
  
  
   input[type=text], input[type=email], input[type=password]{
     border: 2px solid var(--button-2-1) !important;}
  
  /*.search-field input, .chzn-container-single .chzn-single, .input, .kn-textarea {*/
  
  .chzn-container-single .chzn-single {
    
        width: 100%;
    height: 36px !important;;
      padding: 8px 10px !important;;
      margin: 4px 0;
    font-size:18px !important;;
      box-sizing: border-box;
        border: 1px solid #00D6FF;
      border-radius: 5px;
        background-color: #ebf0fa;
      color: #373A43;
  }
  
  
  
  select {
    
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*background: url(https://gobrik.com/images/downarrow.png) no-repeat;*/
  background-position: right center;
  
        border: 1px solid var(--button-2-1) !important;
      border-radius: 3px;
        background-color: #c4efff;
      color: #373A43;
    
      width: 100%;
    height: 36px !important;
      padding: 8px 10px;
      margin: 4px 0;
    font-size:18px !important;
  
  }
  
  
    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
      border: 1.5px solid #00f200 !important;
  }
  
  
  
  
  input[type=text], input[type=email], input[type=password]{
    
        width: 100%;
    height: 100%;
      padding: 8px 10px;
      margin: 4px 0;
    font-size:18px !important;
      box-sizing: border-box;
        border: 3px solid var(--button-2-1);
      border-radius: 5px;
        background-color: var(--general-background);
      color: var(--h1);
  }
   
  
  input[type=text] .kn-equation  {
    
  border: hidden !important;
  }
  
   /*
    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
      border: 2px solid #FF00FF;
  }
  
  */
  
  .chzn-drop { font-size: 16px;}
  
  #view_1163 .kn-records-nav{
      display: block !important;
    margin: auto !important;
        text-align: center !important;
  }
  
  .table-keyword-search .input{
            width: 100%;
    height: 100%;
      padding: 2px 16px;
      margin: 2px 0;
    font-size: 17px;  /*was 13*/
      box-sizing: border-box;
        border: 1px solid #DBDBDB !important;
      border-radius: 3px;
        background-color: #ebf0fa;
      color: grey;
  }
  
  .kn-page-select {
    border: 1px solid #DBDBDB !important;}
  
  .kn-input-image input.is-file {
  
      width: 250px;
  }
    
    .kn-asset-current .level {color: green;
      font-size: 18px;}
  
  .field input[type=file] {
    display: none;
  }
  .field input[type=file] + label[for] {
    font-size: 12px;
  }
  .field input[type=file] + label[for]:before {
    content: attr(label);
    border: solid 1px #0af;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #def;
    color: #555;
    cursor: pointer;
    box-shadow: none;
    margin-right: 2px;
  }
  .field input[type=file] + label[for]:hover:before {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    color: #dfdfdf;
    background-color: #0af;
  }
  .field input[type=file] + label[for]:active:before {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  .field input[type=file] + label[for]:after {
    padding: 3px 10px;
    content: attr(title);
    
    
  }
  
  #field_536 {padding: 5px 25px 5px 5px;}
  
  #field_565 {padding: 5px 25px 5px 5px;}
  
  #field_610 {padding: 5px 25px 5px 5px;}
  
  #field_999 {padding: 5px 25px 5px 5px;}
  
  #field_1238 {padding: 5px 25px 5px 5px;}
  
  #field_1286 {padding: 5px 25px 5px 5px;}
  
  
/* --------------------------------------

Main Knack button - now blue 


----------------------------------*/

.kn-button.is-primary {
  font-family: 'mulish', sans-serif !important;
  display: block;
  margin: auto;
  background: var(--button-2-1-over);
  background-image: -webkit-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
  background-image: -moz-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
  background-image: -ms-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
  background-image: -o-linear-gradient(top, var(--button-2-1-over), var(--button-2-2-over));
  background-image: linear-gradient(to bottom, var(--button-2-1-over), var(--button-2-2-over));
  
 
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px !important;
  color: #ffffff;
  font-size: 19px !important;
  padding: 8px 18px 34px 18px !important;
  text-decoration: none !important;
  margin-top: 0px;
  margin-bottom: 0px;
	font-weight: 700;
}


.kn-button.is-primary:hover {

  background: var(--button-2-1);
background-image: -webkit-linear-gradient(top, var(--button-2-1), var(--button-2-2));
background-image: -moz-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: -ms-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: -o-linear-gradient(top,  var(--button-2-1), var(--button-2-2));
background-image: linear-gradient(to bottom,  var(--button-2-1), var(--button-2-2));
 
  text-decoration: none;
}

/* Secondary Knack Button 15px 0px 30px 0px; */

.kn-button.kn-link {
  
  font-size: 19px;
  margin-bottom:30px;
  border-color: var(--general-background) !important;
  
}

#forgot-pass {
  font-family: 'Mulish', sans-serif !important;}

.remember {
font-family: 'Mulish', sans-serif !important;
}

.kn-instructions  {
   font-family: 'Mulish', sans-serif !important;
color: var(--subdued-text) !important;
font-size: smaller;
padding-bottom:20px;
}

.option {
  font-family: 'Mulish', sans-serif !important;
  color: var(--subdued-text);
  font-size: smaller;
  }

.option a {color: var(--subdued-text);}
.option a:hover {color: var(--text-color);}

.kn-content a {color: var(--text-color) !important;}
.kn-content a:hover {color: var(--h1) !important;}

.ang-link {
  font-family: 'Mulish', sans-serif !important;
  color: var(--subdued-text) !important;
  font-size: smaller;
}

.ang-link:hover{
  font-family: 'Mulish', sans-serif;
  color: var(--h1) !important;
}

.kn-register .sso-facebook {display:none;}


#knack-dist_52 {
position: absolute;
width: 100%;
top: 0;

}

.modal-card-body {background-color: var(--side-overlays) !important;}


.modal-card-body .kn-scene {
  background:none !important;
  border: none !important;
}

.modal-card-head  {background: var(--side-overlays) !important;}

.kn-modal {background: var(--side-overlays) !important;}



/* -------------------------------------------------------------------------- */

/*	8. NOTIFICATIONS
/* -------------------------------------------------------------------------- */

/*

.kn-message, .kn-notification, .notification {

  -webkit-border-radius: 9px !important;
    -moz-border-radius: 9px !important;
    border-radius: 9px;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
    
      border-width: 2px 2px 2px 12px;
     border-style: solid;
     border-color: #6ba3ff;
  
      background-color: #f4fcfc;
    color: #191919 !important;
    background-image: linear-gradient(#e2e2e2, #ededed);
    text-shadow: 0 1px 2px white;
    font-size: 16px;
    z-index: 1;
    margin-right: 13px;
    margin-left: 13px;
  position: absolute !important;
    left:0; right:0;  top: 0;
      
  }
  
  .is-error {	
    
       border-color: orange;
    padding-top: 55px !important;
  margin-bottom: 50px !important;
  }
  
  .is-confirmation {	
    
       border-color: #00f200;
    margin: auto;
    margin-top: -60px !important;
    padding-top: 65px !important;
  margin-bottom: -10px;
    width: 90%;
  }
  
  .is-warning {
    
       border-color: #ff7400;
           margin-top: -10px !important;
    padding-top: 75px !important;
  margin-bottom: -10px;
    
  }
  
  
  .is-alert {
    
       border-color: #ff0000;
  
       margin: auto;
       margin-top: -60px !important;
       padding-top: 65px !important;
     margin-bottom: -10px;
       width: 90%;
    
  }	
  
  */
  