
.vision-quote {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: #222222;
    font-weight: 300;
    text-shadow: 0 0 10px #fff;
  }
  @media screen and (max-width: 769px) {
      .vision-quote {
        font-size: 2.4em;
        line-height: 1.2;
        padding: 10px 6% 0px 6%;
        margin-bottom: -18px;
    }
  }
  @media screen and (min-width: 769px) {
      .vision-quote {
        font-size: 4em;
        line-height: 1.3;
        padding: 15px;
        margin-top: -40px;
        margin-bottom: -20px;
    }
  }
  
  /* Sidebar/right column */
  
  .row-details {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  @media screen and (min-width: 700px) {
  .main-details {
    flex: 60%;
  
    padding: 0px;
    box-sizing: border-box;
  }
  }
  
  @media screen and (max-width: 700px) {
  .main-details {
    flex: 100%;
    box-sizing: border-box;
  }
  }
  
  @media screen and (min-width: 700px) {
      .side-details {
      flex: 40%;
      padding-left: 10px;
      box-sizing: border-box;
      margin-top: 30px;
      background: #ECECEC;
      padding: 10px;
      height: fit-content;
          }
      }
  
  @media screen and (max-width: 700px) {
      .side-details {
      flex: 90%;
      margin: 0px 5% 0px 5%;
      box-sizing: border-box;
      background: #ECECEC;
      padding: 10px;
      
      
      }
      }
  
  #data-chunk {margin: 16px;}
  
      
  .splash-content-block {


    text-align: left;
    z-index: 5;
    position: relative;
    width: 100%;
    display: flex;
     box-sizing: border-box;
  }



  @media screen and (max-width: 700px) { 
      .splash-content-block {
          min-height: 73vh;
          padding: 50px 5% 25px 5%;
          margin-bottom: 0px;
           margin-top: 45px;
          flex-direction: column;
      }
  }
  
  @media screen and (min-width: 700px) { 
      .splash-content-block {
          text-align: left;
          min-height: 70vh;
          padding: 0px 7% 0px 7%;
          margin: -3px 0 -20px 0;
            flex-wrap: wrap;
            flex-direction: row;
  }
  }
  
  
  @media screen and (min-width: 700px) { 
  .splash-image {
    z-index: 5;
    position: relative;
    text-align: center;
    flex: 35%;
      padding: 0px;
      box-sizing: border-box;
      margin: auto;
  }
  }
  
  
  @media screen and (min-width: 700px) { 
  .splash-box {
    z-index: 5;
    position: relative;
    flex: 65%;
      padding: 10px 30px 0px 0px;
      box-sizing: border-box;
      text-align: left;
      margin: auto;
  }
  }
  
  
  
  @media screen and (max-width: 700px) { 
  .splash-image {
    z-index: 5;
    position: relative;
    text-align: left;
  
    width: 100%;
      padding: 0px;
      box-sizing: border-box;
      margin: 32px 8% -25px 4%;
  }
  }
  
  
  
  @media screen and (max-width: 700px) { 
  .splash-box {
      position: relative;
      flex: 100%;
      padding: 10px 10px 0px 0px;
      box-sizing: border-box;
      text-align: right;
      margin: auto;
  }
  }
  
  
  
  .splash-heading { 
      /*font-family: 'Mulish', Arial, Helvetica, sans-serif;*/
      font-family: Arvo, serif;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 8px black;
  
  }
  
  @media screen and (max-width: 700px) {
      .splash-heading {
        font-size: 3.0em;
        line-height: 1.1;
        margin: 10px 0;
    }
  }
  
  @media screen and (min-width: 700px) {
      .splash-heading {
        font-size: 4em;
        line-height: 1.3;
        margin: 40px 0 10px;
    }
  }
  
  
  .splash-sub {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    color: #fff;
    /*text-shadow: 0px 0px 10px #fff;*/
    margin: 15px 0;
    text-shadow: 0 0 7px black;
  }
  
  @media screen and (max-width: 700px) {
      .splash-sub {
          font-size: 1.25em;
          line-height: 1.25;
          font-weight: 400;
    }
  }
  @media screen and (min-width: 700px) {
      .splash-sub {
          font-size: 2.5em;
          line-height: 1.3;
          font-weight: 400;
    }
  }
  
  
  #splash-bar {
      margin-top: -50px;
      width: 100%;
      
      height:100px;	
      
      position: relative;
      z-index: 0;
    
      -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
      margin-bottom: 40px;
  
  }
  
  hr {border: gray;
  border-style: dashed;
  border-width: 1px;
  margin-top: 31px;
  margin-bottom: 31px;}
  
  
  
  #main-content {
    margin: auto;
    box-sizing: border-box;
  }
  @media screen and (max-width: 700px) {
    #main-content {
        width: 100%;
        margin-top: 0px;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1024px) {
    #main-content {
        width: 85%;
    }
  }
  @media screen and (min-width: 1024px) {
    #main-content {
        width: 77%;
    }
  }
  
  
  /* COLUMN DESIGN */
  
  
  .row {  
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  
  /* Main column */
  
  @media screen and (min-width: 700px) {
  .main {
    flex: 70%;
  
    padding: 15px 40px 15px 0px;
    box-sizing: border-box;
  }
  }
  
  @media screen and (max-width: 700px) {
  .main {
    flex: 100%;
  
    box-sizing: border-box;
  }
  }
  
  
  
  @media screen and (max-width: 700px) {
      .lead-panel-paragraph {
        font-size: 1.35em;
        line-height: 1.4;
        margin: 20px 0% 25px 0%;
    }
  }
  
  @media screen and (min-width: 700px) {
      .lead-panel-paragraph {
        font-size: 1.4em;
        line-height: 1.5;
        margin: 17px 0px 23px 0px;
    }
  }
  
  
  
  
   
  
  @media screen and (max-width: 700px) {
  
  
    .lead-page-paragraph p {
      font-size: 1.45em;
      line-height: 1.4;
      margin: 35px 6% 25px 6%;
  }
  }
  
  @media screen and (max-width: 700px) {
  
    .page-paragraph p {
      font-size: 1.15em;
      line-height: 1.4;
      margin: 20px 6% 30px 6%;
  }
  }
  
  @media screen and (max-width: 700px) {
      .page-paragraph-reg {
        font-size: 1em;
        line-height: 1.3;
        margin: 20px 4% 20px 4%;
    }
  }
  
  
  @media screen and (min-width: 700px) {
      .lead-page-paragraph {
        font-size: 1.4em;
        line-height: 1.5;
        margin: 25px 10px 5px 10px;
    }
  }
  
  
  @media screen and (min-width: 700px) {
      .page-paragraph {
        font-size: 1.15em;
        line-height: 1.4;
        margin: 25px 10px 50px 10px;
    }
  }
  
  @media screen and (min-width: 700px) {
      .page-paragraph-reg {
        font-size: 1em;
        line-height: 1.3;
        margin: 20px 7px 50px 7px;
    }
  }
  
  
  @media screen and (max-width: 700px)  {
          .reg-content-block {
          text-align: left;
          padding: 15px 7% 15px 7%;
          border-radius: 0px;
          margin: 35px 0px 0px 0px;
  /*
          border-color: grey;
          border-width: 1px;
          border-style: dashed;*/
  }
      }
  
  
      @media screen and (min-width: 700px) {
          .reg-content-block {
              text-align: left;
              padding: 18px 5% 22px 5%;
              border-radius: 15px;
              margin: 30px 0px 20px 0px;
              
              border-color: grey;
              border-width: 1px;
              border-style: dashed;
   
  }
      }
  
  
  #data-chunk {
    padding: 15px;
    background: #e6f3ff;}
  
  
  .ecobrick-data p {
      font-size: 0.9em;
      font-family: 'Courier New', monospace !important;
        color: #222222;
        line-height: 1.3;
      margin-top: 12px;
      font-weight: 300;
    background: aliceblue;
  padding: 10px;
  border-radius: 5px;
  }
  
  
  /* Sidebar/right column */
  
  @media screen and (min-width: 700px) {
      .side {
      flex: 24%;
      padding: 70px 20px 0px 20px;
      box-sizing: border-box;
      margin-top: -80px;
      background:var(--top-header);
    border-radius: 20px;
      }
      }
  
  @media screen and (max-width: 700px) {
      .side {
      flex: 24%;
      padding: 20px;
      box-sizing: border-box;
      
      }
      }
  
  
  
  /* -------------------------------------------------------------------------- */
  
  /*	4. TYPOGRAPHY
  /* -------------------------------------------------------------------------- */
  
  
  p {
      font-family: 'Mulish', sans-serif !important;
      font-size: 15px !important;
      font-weight: 300 !important;
      -webkit-font-smoothing: antialiased !important;
        line-height: 1.5em !important;
      color: var(--text-color);
  }
  
  b {	font-weight: 500 !important;}
  
  strong {font-weight: 500 !important;}
  
  
  h1 {
      font-size: 28px !important;
      font-family: 'Mulish', sans-serif !important;
        text-align: center !important;
        line-height: 1.2 !important;
      text-shadow: 0px 0px 10px #fff !important;
       font-weight: 300 !important;
       color: var(--text-color);
  }
  
  h2 {
      font-size: 29px;
      font-family: 'Arvo', Georgia, serif !important;
      text-align: center !important;
        line-height: 1.3 !important;
       font-weight: 400 !important;
      text-shadow: 0px 0px 10px #fff !important;
      color: var(--text-color);
  }
  
  h3 {
      font-size: 22px !important;
      font-family:'Mulish', sans-serif !important;
      text-align: center !important;
      line-height: 1.4 !important;
      font-weight: 300;
      color: var(--text-color);
  }
  
  h4 {
      font-size: 17px !important;
      font-family: 'Mulish', sans-serif !important;
      text-align: center !important;
            line-height: 1.4 !important;
          font-weight: 300 !important;
          color: var(--text-color);
  }
  
  
  h5 {
      font-size: 16px !important;
      font-family: 'Arvo', serif;
      text-align: center !important;
    line-height: 1.3 !important;
    color: var(--text-color);
  }
  
  h6 {
      font-size: 16px !important;
      font-family: 'Mulish', sans-serif !important;
     /* text-align: center;*/
    line-height: 1.4 !important;
      font-weight: 300 !important;
       color: var(--text-color);
  }
  
  
  /* -------------------------------------------------------------------------- */
  
  /*	5. Document Setup
  /* -------------------------------------------------------------------------- */
  


#side-module-desktop-only {
	
	border-radius: 12px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 15px 15px 28px 15px;
	border-width: 1px;
	text-align: center;
	background-color: var(--side-overlays);
	text-align: center;

}

@media screen and (max-width: 700px) {
  #side-module-desktop-only {   
    display: none;
  }
}

#side-module-desktop-mobile {
	
	border-radius: 12px;
	margin-bottom: 20px;
	padding: 15px 15px 28px 15px;
	border-width: 1px;
	text-align: center;
	background-color: var(--side-overlays);
  	text-align: center;
  
  }
  
  
  .loader { 
      z-index: 1;	
      position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 90%;
        z-index: 99;
        background: url('svgs/bottle-loader.svg') center no-repeat;
          box-sizing: border-box;
       background-size: 38px;
          
      -webkit-animation-delay: 0s !important;
      opacity:0;
      -webkit-animation:fadeIn ease-in 0.3s;
      -webkit-animation-duration:0.3s;
      -webkit-animation-fill-mode:forwards;
  
    animation-delay: 0s; 
    animation: fadeIn ease-in 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }



.module-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #a8a8a8;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  overflow-x: none;
}

.module-btn:hover {
  background: #818181;
  text-decoration: none;
}

